<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="A2CConnectionString" connectionString="Data source=192.168.2.6;initial Catalog=trackingmodule;integrated security=false;multipleactiveresultsets=true;user id=sa;password=a2ca2ca2c;Connection Timeout=1000;" providerName="system.data.sqlclient" />
		<!--<add name="A2CConnectionString" connectionString="Data Source=192.168.2.14\MSSQLSERVER2019;Initial Catalog=TrackingModule;MultipleActiveResultSets=True;User ID=sa;Password=a2ca2ca2ca2c;Connection Timeout=1000" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="WH1Path" value="C:\\AppData\\StorageFile\\WH1\\" />
		<add key="WH2Path" value="C:\\AppData\\StorageFile\\WH2\\" />
		<add key="WH1ArchivePath" value="C:\\AppData\\StorageFile\\Archieve\\ArchiveWH1\\" />
		<add key="WH2ArchivePath" value="C:\\AppData\\StorageFile\\Archieve\\ArchiveWH2\\" />
		<add key="WH1FailedPath" value="C:\\AppData\\StorageFile\\Archieve\\FailedWH1\\" />
		<add key="WH2FailedPath" value="C:\\AppData\\StorageFile\\Archieve\\FailedWH2\\" />
	</appSettings>
</configuration>